h1{
   align-items: center; 
   justify-content: center;
}

h2{
    text-transform: capitalize;
    color: brown;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

#carouselExampleControls{
    width: 50%;
    margin: auto;
}
.carousel-inner img{
    width: 100%;
    height:20%;
}
